body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0;

  background-image: linear-gradient(
    to bottom right,
    rgb(7, 7, 77),
    rgb(4, 48, 27)
  );
}

.container {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 700px;
  padding: 50px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.window {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgb(12, 12, 82);
}

.answer {
  align-self: center;
  font-size: 40px;
  color: wheat;
}
